.wrapper {
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  background: white;
  margin: 1rem 2rem 2rem 2rem;
  border-radius: 2rem;
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    span{
      display: inline-block;
      border-radius: 1rem;
      background-color: #FF868E;
      color: white;
      padding: 1rem 3rem 1rem 3rem;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: .2rem;
      font-family: 'Jost', sans-serif;
    }
  }
  .gridWrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 200px;
    grid-auto-rows: 140px;
    .item1M {
      grid-column: 1 / span 1;
      grid-row: 1 / 2 end;
    }
    .item1L {
      grid-column: 2 / 4;
      grid-row: 2 / span 2;
    }
    .item2M {
      grid-column: 3 / 4;
      grid-row: 4 / 5 end;
    }
    .item2L {
      grid-column: 1 / 3;
      grid-row: 5 / 6 end;
    }
    .item3M {
      grid-column: 1 / span 1;
      grid-row: 7 / 8 end;
    }
    .item3L {
      grid-column: 2 / 4;
      grid-row: 8 / 9 end;
    }
    .item4M {
      grid-column: 3 / 4;
      grid-row: 10 / 11 end;
    }
    .item4L {
      grid-column: 1 / 3;
      grid-row: 11 / 12 end;
    }
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2rem;
      background: #C4C4C4;
      box-sizing: border-box;
      img{
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        object-fit: cover;
        background-position: center;
      }
    }
  }
}


