.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 79rem;
  padding: 2.5rem;
  background: white;
  margin: 1rem 2rem 2rem 2rem;
  border-radius: 2rem;
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    .navigate{
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      span{
        display: inline-block;
        border-radius: 1rem;
        background-color: #FF868E;
        color: white;
        padding: 1rem 3rem 1rem 3rem;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: .2rem;
        font-family: 'Jost', sans-serif;
      }
    }
    .filters{
      min-width: 30rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .sortBlock{
        min-width: 15rem;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
      }
    }
  }
  .gridWrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 200px;
    grid-auto-rows: 140px;
    .item1M {
      grid-column: 1 / span 1;
      grid-row: 1 / 2 end;
    }
    .item1L {
      grid-column: 2 / 4;
      grid-row: 2 / span 2;
    }
    .item2M {
      grid-column: 3 / 4;
      grid-row: 4 / 5 end;
    }
    .item2L {
      grid-column: 1 / 3;
      grid-row: 5 / 6 end;
    }
    .item3M {
      grid-column: 1 / span 1;
      grid-row: 7 / 8 end;
    }
    .item3L {
      grid-column: 2 / 4;
      grid-row: 8 / 9 end;
    }
    .item4M {
      grid-column: 3 / 4;
      grid-row: 10 / 11 end;
    }
    .item4L {
      grid-column: 1 / 3;
      grid-row: 11 / 12 end;
    }
    div{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2rem;
      background: #C4C4C4;
      box-sizing: border-box;
      img{
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        object-fit: cover;
        background-position: center;
      }
      .overlay{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        background-color: #FF868E99;
        opacity: 0;
        transition: .3s;
        .breedName{
          padding: 1rem 3rem;
          color: #FF868E;
          font-family: "Jost", sans-serif;
          font-size: 2rem;
          border-radius: 1rem;
          background-color: white;
          cursor: pointer;
          display: flex;
          flex-wrap: wrap;
          margin: 0 1rem 1rem 1rem;
          &:hover {
            background-color: #FF868E;
            color: white;
          }
        }
      }
      &:hover .overlay {
        opacity: 1;
      }
    }
  }
  .paginator {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    .page, .currentPage{
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      width: 5rem;
      height: 5rem;
      background-color: white;
      border-radius: 1rem;
      color: #FF868E;
      cursor: pointer;
      font-family: "Jost", sans-serif;
      font-size: 2rem;
      &:hover{
        background-color: #FBE0DC;
        color: white;
      }
    }
    .currentPage{
      background-color: #FF868E;
      color: white;
    }
  }
}

@media screen and (max-width: 480px){
  .wrapper{
    .gridWrapper{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
@media screen and (max-width: 768px) {
  .wrapper{
    .gridWrapper{
      gap: 10px;
    }
    .header {
      .navigate{
        margin-bottom: 1rem;
      }
      select{
        margin-bottom: 1rem;
      }
      .filters{
        min-width: auto;
        width: 100%;
        flex-wrap: nowrap;
        gap: 1rem;
        .sortBlock{
          min-width: auto;
          justify-content: space-between;
        }
      }
      .filters > :first-child{
        width: 70%;
      }
    }
  }
}