$font-family: 'Jost', sans-serif;

.container{
  position: fixed;
  height: 60rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .greeting{
    h4{
      font-family: $font-family;
      font-size: 4rem;
      font-weight: 500;
      margin: 1.5rem 0;
    }
    span{
      font-family: $font-family;
      font-size: 1.8rem;
      color: gray;
    }
  }
  .itemsContainer{
    h4{
      font-family: $font-family;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
    .items{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
@media screen and (max-width: 768px){
  .container{
    .itemsContainer{
      .items{
        width: 100%;
       flex-direction: column;
      }
    }
  }
}