.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.5rem;
  background: white;
  margin: 1rem 2rem 2rem 2rem;
  border-radius: 2rem;
  .header{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
    span{
      display: block;
      border-radius: 1rem;
      color: white;
      padding: 1rem 3rem 1rem 3rem;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: .2rem;
      font-family: 'Jost', sans-serif;
    }
    .revPageTitle{
      background-color: #FBE0DC;
      color: #FF868E;
      cursor: pointer;
      &:hover {
        background-color: #FF868E;
        color: white;
      }
    }
    .breedId{
      background-color: #FF868E;
    }
  }
  .content {
    height: 74rem;
    display: flex;
    flex-direction: column;
    .imageBlock {
      position: relative;
      width: 100%;
      height: 55%;
      margin-bottom: 6rem;
    }
    .blockInfo {
      width: 100%;
      position: relative;
      font-family: "Jost", sans-serif;
      border: 2px solid #FBE0DC;
      border-radius: 2rem;
      padding: 3rem 5rem 5rem 5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .title {
        position: absolute;
        font-size: 4rem;
        font-weight: 500;
        display: block;
        top: -3.5rem;
        background-color: white;
        padding: 0 3rem;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        & * {
          text-transform: none;
        }

        .bredFor {
          font-size: 2.5rem;
          color: #8c8c8c;
          margin-bottom: 2.5rem;

        }

        .otherInfo {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 2rem;
          flex-wrap: wrap;

          & > div > div > span {
            color: black;
            font-weight: 500;
            display: inline-block;
            padding-bottom: 0.5rem;
          }

          .left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 40%;
            color: #8c8c8c;
          }

          .right {
            flex-direction: column;
            display: flex;
            flex-wrap: wrap;
            width: 45%;
            color: #8c8c8c;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .wrapper{
    .content{
      .blockInfo{
        .title{
          font-size: 4rem;
        }
      }
    }
  }
}
@media screen and (max-width: 480px){
  .wrapper{
    .content{
      height: 80vh;
      .blockInfo{
        .title{
          font-size: 2.5rem;
          top: -2.5rem;
        }
        .info{
          .bredFor{
            font-size: 2rem;
          }
          .otherInfo{
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}