.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  background: var(--bg);
  cursor: pointer;
  &:hover {
    background-color: #FBE0DC;;
  }
  &:active {
    background-color: #FF868E
  }
  &:active .sticker * {
    fill: white;
  }
  .sticker{
    height: 2rem;
  }
}