.container {
  .containerWrapper {
    position: relative;

    .select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      height: 5rem;
      border-radius: 1rem;
      background: var(--bgSelect);
      outline: none;
      padding: 0 3rem 0 1rem;
      font-family: "Jost", sans-serif;
      cursor: pointer;
      color: #8C8C8C;
      border: 2px solid var(--bg);

      & > option {
        color: var(--colorOption);
        background-color: var(--bgOption);
        padding: .5rem;
      }

      &:hover + .arrow * {
        fill: #FF868E;
      }

      &:hover {
        border: 2px solid var(--opac20bg);
      }

      &:active {
        border: 2px solid #F8F8F7;
      }
    }

    .arrow {
      position: absolute;
      top: 2rem;
      right: 1.5rem;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;

    .containerWrapper {
      width: 100%;

      .select {
        width: 100%;
      }
    }
  }
}