*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html{
  font-size: 50%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: #FBE0DC;
  }

  &::-webkit-scrollbar-thumb {
    background: #FF868E;
    border-radius: 5rem;
  }
}

.appContainer {
  margin-bottom: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--bgApp);
  min-height: 100vh;
  .greeting{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 60rem;
    margin-top: 2rem;
  }
  .content {
    position: relative;
    height: 100%;
    width: 50%
  }
}
@media screen and (max-width: 768px){
  .appContainer{
    flex-direction: column;
    .greeting{
      position: absolute;
      left: -500px
    }
    .content{
      width: 100%;
    }
  }
}
* {
  color: var(--color);
}
.themeWhite {
  --color: #000;
  --bgApp: #F8F8F7;
  --bgContentItems: #fff;
  --bg: #fff;
  --ligthBg: #FBE0DC;
  --opac20bg: var(--ligthBg);
  --bgBreedName: var(--bg);
  --bredNameColor: #FF868E;
  --bgSelect: #F8F8F7;
  --bgOption: #fff;
  --colorOption: #000;
}

.themeDark {
  height: 100%;
  --color: #fff;
  --bgApp: #1D1D1D;
  --bgContentItems: rgba(255, 255, 255, 0.1);
  --bg: rgba(255, 255, 255, 0.05);
  --activeBg: #FF868E;
  --opac20bg: #FF868E33;
  --bgBreedName: #292929;
  --bredNameColor: #fff;
  --bgSelect: rgba(255, 255, 255, 0.05);
  --bgOption: #292929;
  --colorOption: #8C8C8C;













}