.container{
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: var(--bgApp);
  transition: .3s;
  .closeIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 5rem;
    height: 5rem;
    background-color: var(--bg);
    cursor: pointer;
    &:hover {
      background-color: #FF868E;
      color: white;
    }
    &:hover .closeIcon * {
      fill: white;
    }
    .closeIcon{
      height: 2rem;
    }
  }
  .contentItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}
@media screen and (min-width: 768px) {
  .container{
    top: -800px;

  }
}