.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.5rem 2.5rem 0 2.5rem;
  background: var(--bg);
  margin: 1rem 2rem 0 2rem;
  border-radius: 2rem;
  min-height: 80rem;

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;

    span {
      display: flex;
      align-items: center;
      border-radius: 1rem;
      background-color: #FF868E;
      color: white;
      padding: 1rem 3rem 1rem 3rem;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: .2rem;
      font-family: 'Jost', sans-serif;
    }
  }

  .voting {
    position: relative;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2.5rem;
      }
    }

    div {
      bottom: -4rem;
    }
  }

  .logMessage {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    width: 100%;
    height: 23rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    margin-top: 5rem;
    gap: 10px;

    .message {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      padding: 2rem;
      background-color: var(--messgaeBg);
      border-radius: 1.2rem;
      transition: .3s;
      gap: 1.5rem;
      .date {
        padding: 0.5rem 1rem;
        background-color: var(--timeColor);
        border-radius: .5rem;
        font-size: 2rem;
      }

      .text {
        font-family: "Jost", sans-serif;
        font-size: 2rem;
        text-transform: none;
        line-height: 3rem;
        color: #8c8c8c;

        span {
          font-weight: 500;
          color: var(--color);
        }
      }
      .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        & .smile, .sad, .heart{
          height: 2.5rem;
          width: 2.5rem;
        }
        .smile * {
          fill: #97EAB9;
        }
        .sad * {
          fill: #FFD280;
        }
        .heart * {
          fill: #FF868E;
        }
      }
    }
  }
}
@media screen and (max-width: 480px){
  .container{
    min-height: 73rem;
    margin: 1rem 2rem 2rem 2rem;
    .voting {
      height: 28rem;

      .img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2.5rem;
        }
      }

      div {
        bottom: -3rem;
      }
    }
    .logMessage {
      .message {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1.5rem;

        .text {
          font-family: "Jost", sans-serif;
          text-transform: none;
          color: #8c8c8c;
          order: 3;
          align-self: flex-end;
          span {
            font-weight: 500;
            color: var(--color);
          }
        }

        .logo {
        }
      }
    }
  }
}