.container {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  background: var(--opac20bg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: #FF868E;
  }
  &:hover .back * {
      fill: white;
  }
  .back {
    height: 2rem;
    width: 2rem;
  }
}